#all{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

#subtitle{
    width: 100%;
    background-color: rgb(255, 250, 234);
    text-align: center;
    color: rgb(70, 70, 70);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.average{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grade{
    margin-top: 3em;
    margin-bottom: 1em;
}


.bookContainer{

    display: flex;
    flex-direction: column;
    align-items: center;

}
.container{

    margin-top: 30px;
    display: flex;
    background-color: rgb(248, 218, 82);
    width: 40%;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.infoContainer{

    display: flex;
    flex-direction: column;
}

.score{

    align-self: center;
    margin-left: auto;
    text-align: right;
    font-weight: bold;
}